html {
    overflow: hidden;
}

#player0card,
#player1card,
#player2card,
#player3card,
.p-card {
    position: absolute;
    width: 69px;
    height: 94px;
}

#player0card:hover,
#player1card:hover,
#player2card:hover,
#player3card:hover {
    z-index: 101 !important;
}

#player0card,
#player0-last-card {
    left: 50%;
    top: 50%;
    margin-left: -34.5px;
    margin-top: -5px;
}

#player1card,
#player1-last-card {
    right: 50%;
    top: 50%;
    margin-top: -47px;
}

#player2card,
#player2-last-card {
    left: 50%;
    bottom: 50%;
    margin-left: -34.5px;
    margin-bottom: -5px;
}

#player3card,
#player3-last-card {
    left: 50%;
    top: 50%;
    margin-top: -47px;
}

#player2,
#player1,
#player3,
#player0 {
    height: 70px;
    position: absolute;
    text-align: center;
}

#player2,
#player0 {
    left: 50%;
    margin-left: -25px;
}

#player1,
#player3 {
    top: 50%;
    margin-top: -35px;
}

#player2 {
    top: 8px;
}

#player1 {
    left: 8px;
}

#player3 {
    right: 8px;
}

#player0 {
    bottom: 8px;
}

#trump-wrapper {
    position: absolute;
    right: 8px;
    top: 3px;
    text-align: center;
    font-size: .9rem;
}

#trump-wrapper #trump {
    width: 69px;
    height: 94px;
}

#start-btn {
    position: absolute;
    width: 100px;
    left: 50%;
    bottom: 50%;
    margin-left: -50px;
    z-index: 1000;
}

#suits,
#callboard,
#jokhigh,
#jokjoker,
#password-card {
    position: absolute;
    bottom: 210px;
    left: 50%;
    z-index: 1000;
}

#game-over {
    position: absolute;
    z-index: 1001;
    left: 50%;
    margin-left: -149px;
}

#password-card {
    bottom: 50%;
    width: 350px;
    margin-left: -175px;
}

#suits {
    width: 115px;
    margin-left: -55.5px;
}

#suits button:not(.btn-block) {
    font-size: 20px;
    width: 50px;
}

#suits .btn-block {
    font-weight: 700;
}

#callboard {
    width: 123px;
    margin-left: -62px;
    max-height: 1080px;
}

#callboard button {
    width: 35px;
}

#callboard button[data-value='9'] {
    width: 113px;
}

#ready {
    position: absolute;
    bottom: 35%;
    left: 50%;
    width: 310px;
    font-size: 14px;
    font-weight: 700;
    margin-left: -155px;
    z-index: 1000;
}

#ready th {
    width: 75px;
    max-width: 75px;
    padding: 12px 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#jokhigh {
    margin-left: -89.5px;
}

#jokjoker {
    margin-left: -101px;
}

#jokhigh button,
#jokjoker button,
.u-name {
    font-size: 12.8px !important;
    font-weight: 700 !important;
}

#chat {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 1080px;
    min-width: 309px;
    max-width: 309px;
}

#messages-wrapper {
    position: relative;
    flex-grow: 1;
}

#messages {
    position: absolute;
    font-size: 16px;
    overflow: auto;
    width: 100%;
    max-height: 100%;
    bottom: 0;
    padding-top: 4px;
}

#messages p {
    padding-bottom: 4px;
    margin: 0;
}

#chat-input-wrapper {
    position: relative;
    padding-bottom: 5px;
    width: 100%;
}

#chat-input-wrapper .btn-primary {
    border-radius: 0 .25rem .25rem 0 !important;
}

#emojis {
    position: absolute;
    bottom: 47px;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: var(--bs-border-color) !important;
}

#emojis:after {
    content: "";
    position: absolute;
    top: 100%;
    right: 65px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--bs-border-color) transparent transparent transparent;
}

.emoji-mart-bar,
.emoji-mart-search input {
    border-color: var(--bs-border-color) !important;
}

.emoji-mart-category-label {
    color: var(--bs-body-color) !important;
    background-color: var(--bs-body-bg) !important;
}

.emoji-set-apple.emoji-type-native:hover {
    cursor: pointer !important;
}

#play-table {
    position: relative;
    max-width: 900px;
    height: 100vh;
    max-height: 1080px;
    flex-grow: 1;
}

#scoreboard {
    height: 100vh;
    max-height: 1080px;
    max-width: 350px;
    padding-top: 10px;
    overflow: auto;
}

#scoreboard .table td,
#scoreboard .table th {
    font-size: .75rem;
    line-height: .5;
    padding: .45rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 75px;
}

#scoreboard .table td {
    min-width: 60px;
}

#last-cards {
    position: absolute;
    right: 35px;
    bottom: 35px;
    z-index: 100;
}

#last-cards-icon {
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 20px;
}

#last-cards-icon:hover i {
    color: $warning !important;
}

#bot-timer {
    position: absolute;
    bottom: 8px;
    left: 50%;
    margin-left: -90px;
    font-size: 20px;
}

.last-cards-wrapper {
    position: relative;
    width: 165px;
    height: 200px;
}

.game-over-card {
    display: inline-block;
    margin: 8px;
}

.btn-table {
    margin-top: 10px;
    margin-left: 4px;
}

.p0-tc {
    bottom: 23px;
    left: 50%;
}

.p1-tc {
    left: 15px;
    top: 50%;
    transform: rotate(90deg);
}

.p2-tc {
    top: 23px;
    right: 50%;
}

.p3-tc {
    right: 15px;
    bottom: 50%;
    transform: rotate(90deg);
}

.kick {
    position: absolute;
    top: -7px;
    right: 5px;
}

#player1:hover .kick,
#player2:hover .kick,
#player3:hover .kick {
    display: block;
}

.kick:hover {
    color: $danger !important;
    cursor: pointer;
}

.btn:disabled {
    cursor: not-allowed;
    pointer-events: all;
}

.u-name {
    text-overflow: ellipsis;
    max-width: 50px;
    overflow: hidden;
    white-space: nowrap;
}

.taken-card,
#trump-wrapper #trump,
#player0card,
#player1card,
.p-card,
#player2card,
#player3card {
    background-repeat: no-repeat;
    background-size: contain;
}

.card_back_size {
    width: 33px !important;
    height: 45px !important;
}

.taken-card {
    position: absolute;
    width: 33px;
    height: 45px;
}

.p0-card {
    bottom: 87px;
    left: 50%;
    cursor: pointer;
}

.p0-card:hover {
    z-index: 1000;
}

.p1-card {
    left: 70px;
    top: 50%;
    transform: rotate(90deg);
}

.p2-card {
    top: 83px;
    left: 50%;
}

.p3-card {
    right: 70px;
    top: 50%;
    transform: rotate(90deg);
}

.avatar {
    width: 50px;
    height: 50px;
}

.close-w {
    position: fixed;
    top: 10px;
    right: 10px;
}

.u-link {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    display: inline-block;
}

.h-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-table {
    width: 100%;
}

.g_avatar {
    width: 42px;
    height: 42px;
}

.text-system {
    color: #ffe69c;
}

@media (min-width: 576px) {
    #player1card {
        margin-right: 5px;
    }

    #player3card {
        margin-left: 5px;
    }

    .card_back_size {
        width: 69px !important;
        height: 94px !important;
    }

    .p1-card {
        left: 80px;
    }

    .p3-card {
        right: 80px;
    }

    .card-table {
        min-width: 250px !important;
        width: 250px !important;
    }
}

@media (min-width: 768px) {
    #play-table {
        min-width: 500px;
    }
}

@media (max-width: 576px) {
    main img {
        width: 400px;
    }
}

.p-bg-fix {
    background-color: var(--bs-body-bg);
}

.border-success-alt {
    --bs-border-opacity: 1;
    border-color: #86fe8a !important;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}


[data-bs-theme="green"] {
    --bs-body-color: var(--bs-white);
    --bs-body-color-rgb: #{to-rgb($white)};
    --bs-body-bg: var(--bs-green);
    --bs-body-bg-rgb: #{to-rgb($green)};
    --bs-tertiary-bg: #{$green-600};
    --bs-emphasis-color: #fff;
    --bs-emphasis-color-rgb: 255, 255, 255;
    $bg-dark-green: #{mix($gray-800, $green-600, .3)};

    #emojis,
    .popover,
    .emoji-mart-category-label,
    .emoji-mart-search input {
        background-color: $bg-dark-green !important;
    }

    .bs-popover-top>.popover-arrow::after,
    .bs-popover-auto[data-popper-placement^=top]>.popover-arrow::after {
        border-top-color: $bg-dark-green;
    }

    .bs-popover-end>.popover-arrow::after,
    .bs-popover-auto[data-popper-placement^=right]>.popover-arrow::after {
        border-right-color: $bg-dark-green;
    }

    .bs-popover-bottom>.popover-arrow::after,
    .bs-popover-auto[data-popper-placement^=bottom]>.popover-arrow::after {
        border-bottom-color: $bg-dark-green;
    }

    .bs-popover-start>.popover-arrow::after,
    .bs-popover-auto[data-popper-placement^=left]>.popover-arrow::after {
        border-left-color: $bg-dark-green
    }

    .emoji-mart-anchor,
    .emoji-mart-search input {
        color: var(--bs-body-color) !important;
    }

    .emoji-mart-scroll::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .emoji-mart-scroll::-webkit-scrollbar-thumb {
        background: #c1c1c1;
    }

    /* Firefox */
    .emoji-mart-scroll {
        scrollbar-color: #c1c1c1 #f1f1f1;
    }

    .form-control::-moz-placeholder {
        color: #{$gray-200};
    }

    .form-control::placeholder {
        color: #{$gray-200};
    }

    .text-username {
        color: #79dfc1;
    }

    a.dropdown-toggle {
        color: #{$green-800} !important;
    }

    .dropdown-menu {
        --bs-dropdown-bg: #{mix($green-500, $green-600)};
        --bs-dropdown-link-active-bg: #{$green-700};
    }

    .btn-success {
        --bs-btn-bg: #{mix($gray-600, $green-400, .5)};
        --bs-btn-border-color: #{rgba($white, .25)};
        --bs-btn-hover-bg: #{darken(mix($gray-600, $green-400, .5), 5%)};
        --bs-btn-hover-border-color: #{rgba($white, .25)};
        --bs-btn-active-bg: #{darken(mix($gray-600, $green-400, .5), 10%)};
        --bs-btn-active-border-color: #{rgba($white, .5)};
        --bs-btn-focus-border-color: #{rgba($white, .5)};
        --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .2);
        --bs-link-color-rgb: #{$green-900};
    }

    .btn-primary {
        --bs-btn-bg: #{mix($gray-600, $green-600, .5)};
        --bs-btn-border-color: #{rgba($white, .25)};
        --bs-btn-hover-bg: #{darken(mix($gray-600, $green-600, .5), 5%)};
        --bs-btn-hover-border-color: #{rgba($white, .25)};
        --bs-btn-active-bg: #{darken(mix($gray-600, $green-600, .5), 10%)};
        --bs-btn-active-border-color: #{rgba($white, .5)};
        --bs-btn-focus-border-color: #{rgba($white, .5)};
        --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .2);
        --bs-link-color-rgb: #{$green-900};
    }

    .btn-warning {
        --bs-btn-bg: #{mix($gray-500, $yellow-400, .5)};
        --bs-btn-border-color: #{rgba($white, .25)};
        --bs-btn-hover-bg: #{darken(mix($gray-500, $yellow-400, .5), 5%)};
        --bs-btn-hover-border-color: #{rgba($white, .25)};
        --bs-btn-active-bg: #{darken(mix($gray-500, $yellow-400, .5), 10%)};
        --bs-btn-active-border-color: #{rgba($white, .5)};
        --bs-btn-focus-border-color: #{rgba($white, .5)};
        --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .2);
        --bs-link-color-rgb: #{$yellow-900};
    }

    .btn-bd-primary {
        --bd-violet-bg: #{mix($gray-600, $purple-400, .5)};
        --bs-btn-hover-bg: #{darken(mix($gray-600, $purple-400, .5), 5%)};
        --bs-btn-hover-border-color: #{darken(mix($gray-600, $purple-400, .5), 5%)};
        --bs-btn-active-bg: #{darken(mix($gray-600, $purple-400, .5), 10%)};
        --bs-btn-active-border-color: #{darken(mix($gray-600, $purple-400, .5), 10%)};
    }

    #callboard .btn-secondary {
        --bs-btn-color: #000;
        --bs-btn-bg: #f8f9fa;
        --bs-btn-border-color: #f8f9fa;
        --bs-btn-hover-color: #000;
        --bs-btn-hover-bg: #d3d4d5;
        --bs-btn-hover-border-color: #c6c7c8;
        --bs-btn-focus-shadow-rgb: 211, 212, 213;
        --bs-btn-active-color: #000;
        --bs-btn-active-bg: #c6c7c8;
        --bs-btn-active-border-color: #babbbc;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #000;
        --bs-btn-disabled-bg: #f8f9fa;
        --bs-btn-disabled-border-color: #f8f9fa;
    }

    .form-check-input:checked {
        background-color: #{mix($gray-800, $green-600, .3)};
        border-color: #86fe8a;
    }

    .btn-outline-primary,
    .btn-outline-secondary {
        --bs-btn-color: #{$green-800};
        --bs-btn-border-color: #{$green-700};
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #{$green-700};
        --bs-btn-hover-border-color: #{$green-700};
        --bs-btn-focus-shadow-rgb: 13, 110, 253;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #{$green-700};
        --bs-btn-active-border-color: #{$green-700};
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #{$green-700};
        --bs-btn-disabled-bg: transparent;
        --bs-btn-disabled-border-color: #{$green-700};
        --bs-gradient: none;
    }

    #btn-fb {
        --bs-btn-hover-bg: #0d6efd !important;
        --bs-btn-hover-border-color: #0d6efd !important;
    }

    .text-success {
        color: #{$green-800} !important;
    }

    .link-secondary,
    .link-primary {
        color: #{$green-900} !important;
        -webkit-text-decoration-color: #{$green-900} !important;
        text-decoration-color: #{$green-900} !important;
    }

    .link-secondary:hover,
    .link-secondary:focus,
    .link-primary:hover,
    .link-primary:focus {
        color: #{$green-800} !important;
        -webkit-text-decoration-color: #{$green-800} !important;
        text-decoration-color: #{$green-800} !important;
    }

    .btn-link {
        --bs-btn-color: #{$green-900};
        --bs-btn-hover-color: #{$green-800};
        --bs-btn-active-color: #{$green-800};
    }

    .card {
        --bs-card-border-color: var(--bs-white);
    }

    .btn-outline-primary,
    .btn-outline-danger {
        --bs-btn-color: var(--bs-white);
        --bs-btn-border-color: var(--bs-white);
    }

    .form-control,
    .form-select {
        background-color: $bg-dark-green;
    }

    .form-control:focus,
    .form-select:focus,
    .btn-close:focus,
    .form-check-input:focus {
        border-color: #86fe8a;
        box-shadow: 0 0 0 0.25rem rgba(13, 253, 45, 0.25);
    }

    .alert-info {
        --bs-alert-color: var(--bs-success-text-emphasis);
        --bs-alert-bg: var(--bs-success-bg-subtle);
        --bs-alert-border-color: var(--bs-success-border-subtle);
        --bs-alert-link-color: var(--bs-success-text-emphasis);
    }
}