/* body {
    background-color: #273849;
} */

#chat {
    position: relative;
    height: 100vh;
    min-width: 300px;
    max-width: 300px;
    border-width: 2px !important;
}
.input-wrapper {
    position: absolute;
    padding-left: 10px;
    bottom: 5px;
    width: 99%;
}
#messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 10px;
    font-size: .75rem;
    color: white;
    overflow: auto;
    max-height: 100%;
    min-height: 100%;
    padding-bottom: 50px;
}
#messages p {
    padding: 0;
    margin-bottom: 0.5rem;
    margin-top: 0;
}
.j-table {
    position: relative;
    max-width: 900px;
    height: 100vh;
    flex-grow: 1;
}

.scoreboard {
    height: 100vh;
    max-width: 350px;
    padding-top: 10px;
    overflow: auto;
}

.u-name {
    text-overflow: ellipsis;
    max-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12.8px;
    font-weight: 700;
}

.table td, .table th {
    font-size: .75rem;
    line-height: .5;
    padding: .45rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 81px;
}

#trump-wrapper {
    position: absolute;
    right: 4px;
    top: 1px;
    text-align: center;
    font-size: .9rem;
    color: whitesmoke;
}

.p-card, .taken-card, #trump-wrapper #trump {
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

#trump-wrapper #trump {
    width: 69px;
    height: 94px;
}

.card_back_size {
    width: 33px !important;
    height: 45px !important;
}

.taken-card {
    position: absolute;
    width: 33px;
    height: 45px;
}

.p-card {
    position: absolute;
    width: 69px;
    height: 94px;
}

.p0-card {
    bottom: 83px;
}

.p2-card {
    top: 83px;
}

.p1-card {
    left: 70px;
    transform: rotate(90deg);
}

.p3-card {
    right: 70px;
    transform: rotate(90deg);
}

.top-player, .left-player, 
.right-player, .bottom-player {
    height: 70px;
    position: absolute;
    text-align: center;
    color: white;
}

.top-player, .bottom-player {
    left: 50%;
    margin-left: -25px;
}

.right-player, .left-player {
    top: 50%;
    margin-top: -35px;
}

.top-player {
    top: 5px;
}

.left-player {
    left: 5px;
}

.right-player {
    right: 5px;
}

.bottom-player {
    bottom: 5px;
}

.avatar {
    width: 50px;
    height: 50px;
}

@media (min-width: 576px) {
    .card_back_size {
        width: 69px !important;
        height: 94px !important;
    }

    .p1-card {
        left: 80px;
    }
    
    .p3-card {
        right: 80px;
    }

}

@media (min-width: 768px) {
    .j-table{
        min-width: 500px;
    }

}